:root {
    --link-gray: rgb(82, 82, 82)
}

a {
    color: #007bff;
}
* {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f8f9fa;
}

div.first {
    display: flex;
    align-items: center;
    background-color: white;
}

.first a {
    font-size: 1.4rem;
    font-weight: bold;
}

.first a {
    margin-left: 8%;
}

.lang {
    position: relative;
    display: inline-block;
}

.lang button {
    background-color: lightgray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.lang-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.lang-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lang-content option:hover {
    background-color: #f9f9f9;
}

.lang:hover .lang-content {
    display: block;
}

.first input{
    border: 1px solid rgb(192, 190, 190);
    border-radius: 6px;
    padding: 12px;
    width: 35%;
}

input:focus {
    border-color: red;
}

.first > * {
    margin: 10px;
}

a.sign_up {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    color: black;
    font-size: large;
    font-weight: normal;
    padding: 10px;
}

div.second ul {
    display: flex;
    align-items: center;
    padding: 12px 0;
    padding-left: 8%;
    background-color: #fff;
}

.second ul li a{
    display: inline-block;
    padding:  6px 35px;
    padding-top: 0;
    color: var(--link-gray);
}

.second ul li a:first-child{
    padding-left: 0;
}

nav {
    border-bottom: 1px solid lightgray;
}

.rules {
    padding: 35px;
    border: 1px solid lightgray;
    background-color: #fff;
    width: 87%;
    margin: 25px auto;
}

.rules h3 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 25px;
}

.rules li, p {
    line-height: 30px;
}

.rules ul {
    padding: 10px 35px;
    list-style-type: disc;
}