:root {
    --link-gray: rgb(82, 82, 82);
    --border-gray: 1px solid lightgray;
}
  
a {
    color: #007bff;
}

* {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f8f9fa;
}

div.first {
    display: flex;
    align-items: center;
    background-color: white;
}

.first a {
    font-size: 1.4rem;
    font-weight: bold;
}

.first a {
    margin-left: 8%;
}

#menu-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background: #000;
    transition: transform 0.3s ease;
}

#layer {
    position: absolute;
    top: 50px;
    display: none;
    margin-left: 8%;
    width: 70%;
    background-color: #fff;
    box-shadow: 3px 5px 1000px black;
}

#layer ul li a {
    display: block;
    color: #000;
    padding: 20px 30px;
}

#layer ul li a:hover {
    background-color: rgb(235, 235, 235);
}

.lang {
    position: relative;
    display: inline-block;
}

.lang button {
    background-color: lightgray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.lang-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.lang-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lang-content option:hover {
    background-color: #f9f9f9;
}

.lang:hover .lang-content {
    display: block;
}

.first input{
    border: var(--border-gray);
    border-radius: 6px;
    padding: 12px;
    width: 35%;
}

input:focus {
    border-color: red;
}

.first > * {
    margin: 10px;
}

a.sign_up {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    color: black;
    font-size: large;
    font-weight: normal;
    padding: 10px;
}

div.second ul {
    display: flex;
    align-items: center;
    padding: 12px 0;
    padding-left: 8%;
    background-color: #fff;
}

.second ul li a{
    display: inline-block;
    padding:  6px 35px;
    padding-top: 0;
    color: var(--link-gray);
}

.second ul li a:first-child{
    padding-left: 0;
}

nav {
    border-bottom: var(--border-gray);
}

.layer ul {
    margin: 20px 30px;
    display: none;
    
}
.layer ul li a {
    display: block;
    width: 50%;
    padding: 15px 25px;
    background-color: #fff;
}

.layer ul li a:hover {
    background-color: aliceblue;
}

section.start p {
    width: 87%;
    background-color: white;
    margin: 10px auto;
    display: block;
    padding: 25px;
    border: var(--border-gray);
}

.start img {
    vertical-align: middle;
    margin-left: 8px;
}

.categories {
    width: 87%;
    margin: 15px auto;
    border: var(--border-gray);
    background-color: white;
}

.categories p.head {
    font-size: 1.6rem;
    margin: 20px 25px;
}

.links ul {
    columns: 3;
    padding: 10px;
}

.links ul li a {
    display: inline-block;
    margin: 18px 25px;
    color: var(--link-gray);
}

.links ul li a:first-child {
    margin-top: 0;
}

.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 87%;
    margin: 15px auto;
    border: var(--border-gray);
    background-color: white;
}

.center {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

}
.center h5 {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.center button {
    margin: 8px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
}

.center button:hover {
    background-color: #0062ca;
}

.center p {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    line-height: 25px;
}

.center p a {
    color: #007bff;
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 87%;
    margin: 20px auto;
}

.vacancies {
    width: 87%;
    background-color: #fff;
    border: var(--border-gray);
    margin: 25px auto;
}

.vacancies h2 {
    padding: 20px;
}

.flexjobs {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    padding-bottom: 20px;
}

.cards img {
    height: 300px;
    width: 300px;
}

.cards ul {
    list-style-type: disc;
    padding-left: 40px;
}

.jobdesc {
    border: var(--border-gray);
    padding: 10px;
    max-width: 300px;
}

.description {
    width: 87%;
    background-color: white;
    border: var(--border-gray);
    margin: 25px auto;
    padding: 25px;
}

.products .sorting {
    display: flex;
    padding: 25px;
}

.container {
    width: 87%;
    margin: 25px auto;
}

.products {
    background-color: white;
    border: var(--border-gray);
    margin-right: 40px;
}

.sorting {
    border-bottom: var(--border-gray);
}

.phoneslist {
    padding: 0;
}

.sorting ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.desc {
    display: flex;
}
.phoneslist {
    display: flex;
    flex-direction: column;
}

.phoneslist > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--border-gray);
    padding: 15px 30px;
}

.desc > div > * {
    margin: 5px 80px;
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.desc > div {
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.phoneslist img {
    height: 100px;
    width: 80px;
    margin: 5px 20px;
}

.prices a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.prices a::before {
    content: "от ";
}

.prices a::after {
    content: " сумов";
}

.prices p::after {
    content: " предложений";
}

.phoneslist img {
    transition: all 0.5s ease-out;
}
.phoneslist img:hover {
    transform: scale(2.5);
    box-shadow: 3px 6px 150px black;
}

.sorting button {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    color: #007bff;
}

.sorting button:active {
    color: black;
}

.container {
    display: flex;
}

.products {
    flex: 3;
}

.sidebar {
    border: var(--border-gray);
    background-color: #fff;
    padding: 30px;
}

.filter input {
    padding: 8px;
    margin: 10px;
    border: var(--border-gray);
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.sidebar > div {
    margin-bottom: 50px;
}

.sidebar button {
    padding: 6px;
    border: 1px solid #0062ca;
    margin-left: 35px;
    margin-top: 8px;
    color: #0062ca;
    background-color: #fff;
    border-radius: 3px;
}

.salescheck > * {
    margin-right: 7px;
}

.sidebar h3 {
    margin-bottom: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 8px;
}

.telegram img {
    border-radius: 50%;
}

footer ul li:nth-child(3) a {
    color: lightgreen;
}

@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    ul, .first, .second {
        flex-wrap: wrap;
    }

    .first > button{
        margin-left: 40px;
    }

    .first input {
        width: 200px;
        display: block;
    }

    footer > ul, .sorting ul {
        flex-direction: column;
        align-items: center;
    }
  
    li {
      display: block;
      margin-bottom: 10px;
    }

    .phoneslist > div > * {
        flex-direction: column;
    }

    .links > ul {
        columns: 1;
    }

    .lang {
        position: relative;
        left: 15px;
    }

    .container, .container > * {
        flex-direction: column;
        width: 80vw;
    }

}